<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<p>Choice your page</p>
<p>0 - Information about customer</p>
<p>1 - create new customer</p>
<p>2 - create new account</p>
<p>3 - list customer</p>
<p>4 - put money on balance</p>
<p>5 - withdraw money from balance</p>
<p>6 - transfer money on balance</p>
<p>7 - balance</p>

<form method="post">
  <p>PageNumber:      <input type="number" name="checkPage"><br>


  <input type="submit" value="Перейти">
</form>

</body>
</html>